/* Navbar/Header */

html {
  scroll-behavior: smooth;
}

#headerNavbar {
  background-color: #f1f3ff;
}

@media only screen and (min-width: 991px) {
  nav#headerNavbar div.offcanvas-button {
    display: none;
  }
}
@media only screen and (max-width: 990px) {
  nav#headerNavbar button.navbar-toggler {
    display: none;
  }
  .customOffCanvas .offcanvas-header {
    padding-bottom: 0px;
    padding-top: 34px;
  }
  .customOffCanvas .offcanvas-body {
    padding-top: 0px;
  }
}

/* End of Navbar / Header */
