/* Navbar/Header */

html {
  scroll-behavior: smooth;
}

#headerNavbar {
  background-color: #f1f3ff;
}
.registerButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 12px;
  width: 81px;
  height: 36px;
  background: #5cb85f;
  border-radius: 2px;
  font-family: "Arial";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  border: 0;
}
@media only screen and (min-width: 991px) {
  nav#headerNavbar div.offcanvas-button {
    display: none;
  }
}
@media only screen and (max-width: 990px) {
  nav#headerNavbar button.navbar-toggler {
    display: none;
  }
  .customOffCanvas .offcanvas-header {
    padding-bottom: 0px;
    padding-top: 34px;
  }
  .customOffCanvas .offcanvas-body {
    padding-top: 0px;
  }
}

/* End of Navbar / Header */
