/* Section CTA */

#cta {
  padding-top: 60px;
  padding-bottom: 60px;
}

#cta .container-cta {
  background: #0d28a6;
  border-radius: 13px;
  padding: 64px;
}

#cta .sectionTitle {
  font-size: 45px;
}
#cta .sectionSubtitle {
  margin-bottom: 60px;
}
#cta .buttonCta {
  background: #5cb85f;
  border-radius: 2px;
  transition: 0.3s ease;
  padding: 8px 12px;
  font-weight: 700;
}
#cta .buttonCta:hover {
  background: #5cb85fb4;
}

@media only screen and (max-width: 1401px) {
  #cta .sectionTitle {
    font-family: "Arial";
    font-style: normal;
    font-weight: 700 !important;
    font-size: 36px !important;
    line-height: 150%;
    margin-bottom: 16px !important;
  }
  #cta .sectionSubtitle {
    font-family: "Arial";
    font-style: normal;
    font-weight: 700 !important;
    font-size: 14px !important;
    line-height: 20px;
    margin: 0 auto;
    margin-bottom: 52px !important;
    max-width: 468px !important;
  }
  #cta .buttonCta {
    font-family: "Arial";
    font-style: normal;
    font-weight: 700 !important;
    font-size: 14px !important;
    line-height: 20px;
  }
}
@media only screen and (max-width: 990px) {
  #cta {
    padding-left: 10px;
    padding-right: 10px;
  }
  #cta .sectionTitle {
    font-family: "Arial";
    font-style: normal;
    font-weight: 700 !important;
    font-size: 24px !important;
    line-height: 36px;
  }
  #cta .sectionSubtitle {
    font-family: "Arial";
    font-style: normal;
    font-weight: 700 !important;
    font-size: 14px !important;
    line-height: 20px;
    margin-bottom: 32px !important;
  }
}

/* End of Section CTA */
